.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fbfbfb;
}

.auth-box {
  width: 400px;
  padding: 30px;
  background: rgb(190, 244, 240);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-box h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.auth-box .ms-TextField,
.auth-box .ms-Button {
  width: 100%;
}

.auth-box .ms-Checkbox {
  text-align: left;
}

.auth-box .auth-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-container{
  justify-content: center;
  height: 12vh;
  width: 100vw;
  /* align-items: center; */
  border: 100px;
  text-align: center;
}
.adminpanel{
  justify-content: center;
  height: 12vh;
  width: 100vw;
  /* align-items: center; */
  border: 100px;
  text-align: center;
}